transformers
bitsandbytes
accelerate
lm-format-enforcer
torch
ipykernel
ipython
ipywidgets
python-dotenv
black[jupyter]
tqdm
nbstripout
datasets
deepeval
matplotlib
ruff
torchvision
torchmetrics
torchtext
plotly
streamlit
scipy
wandb